<html>
  <head>
    <title>Simchair App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase.js"></script>
  </head>
  <body>
    <h1>Simchair App</h1>    
    <div class="garden">
      <div class="ball"></div>
    </div>
    <pre class="output"></pre>    
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <img id="footer" src="{{ url_for('video_feed') }}">
  </body>
</html>